*{
    padding: 0;
    margin: 0;
}

body{
    background-color: red;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    gap: 20px;
}

.container{
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 1rem;

    /* width: 600px; */
    /* width: 80%; */
    width: min(400px, 60%);
    box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.51);

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.23s;
}
.container h1{
    font-size: 38px;
    margin-bottom: 20px;
}
.container .pTag{
    width: 100%;
    margin-bottom: 5px;
}

.input{
    display: flex;
    flex-wrap: wrap;
    width: 101%;
}
.input input{
    flex: 1;  /* to flex 1 is to cover the whole area */
    padding: 10px 10px;
    background-color: #b1e9ff;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.input button{
    background-color: #3dc8ff;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    padding: 0px 20px;
    cursor: pointer;
}

.items{
    margin-top: 20px;
    width: 100%;
}
.items h4{
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}
.items ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;

}
.items ul li{
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 15px;

    opacity: 0;                           /* for js */
    transform: translateY(-10px);
    transition: all 0.23s;
}
.items ul li.show {
  opacity: 1;                             /* for js */
  transform: translateY(0);
}
.items ul li button{
    border: none;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
}

.clearAll{
    border: 1px solid #92dffd;
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 20px;
    margin-top: 20px;

    cursor: pointer;
}



.name{
    color:silver;
}